{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<h1>Kennitölur:</h1>
<a href="/kennitala/1206734249">1206734249</a>
<a href="/kennitala/1673819234">1673819234</a>
<a href="/kennitala/9121212222">9121212222</a>
<a href="/kennitala/0291333111">0291333111</a>
<a href="/kennitala/2909004444">2909004444</a>

<h1>Fréttir</h1>
<a href="/frett/1">Frétt 1</a>
<a href="/frett/2">Frétt 2</a>
<a href="/frett/3">Frétt 3</a>
<a href="/frett/4">Frétt 4</a>
<a href="/frett/5">Frétt 5</a>
<a href="/frett/6">Frétt 6</a>
<a href="/frett/7">Frétt 7</a>
{% endblock %}